{% extends '::base.html.twig' %}

{% block error %}
    <h1>Nothing's here!</h1>
    <p>
        You seem to have encountered a 404 error. That is to say, you are looking for something that is not here.
        Perhaps you are looking for something else, or something that does not exist at all?
    </p>
{% endblock %}