<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Error | HvZ @ RIT</title>
</head>
<body>
<h1>Uh oh!</h1>
<p>
    It seems we've encountered a <strong>{{ status_code }} error</strong>. Here's what it has to
    say:
</p>
<blockquote>
    <p>{{ status_text }}</p>
</blockquote>
<p>
    Rest assured, we will dispatch our team of trained <s>zombies</s> humans to <s>eat brans</s>
    fix the issue.
</p>
</body>
</html>