<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Oops!</title>
</head>
<body>
    <h1>{{ status_code }} {{ status_text }}</h1>
    <p>
		Some zombies might have gotten into the server room. We've dispatched
		our crack team of zombie <s>bricks</s> hunters to try and fix the problem.
	</p>
	<p>
		<small>
			If you continue having problems, please email
			<strong>sjb4138 AT rit.edu</strong>
		</small>
	</p>
</body>
</html>
