{% extends '::base.html.twig' %}
{% import '::components.html.twig' as components %}

{% block title %}
    Contact | {{ parent() }}
{% endblock %}

{% block body_def %}
    class="navbar-offset"
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ components.navbar('fixed-top', '') }}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Contact</h2>
                <p>For inquiries, disputes, or anything else, please email <a href="mailto:hvz@rit.edu">hvz@rit.edu</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}