{% extends '::base.html.twig' %}
{% import '::components.html.twig' as components %}

{% block body_def %}
    class="navbar-offset"
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ components.navbar('fixed-top', 'message') }}

    <div class="container">
        <div class="vertical-space"></div>
        <div class="row">
            <div class="col-md-12 text-center alert alert-{{ message.type }}">
                {{ message.body | raw }}
            </div>
        </div>
    </div>
{% endblock %}