{# src/Hvz/GameBundle/Resources/views/Admin/message.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block content %}
	{{ parent() }}
	
	<div class="card card-{{ message.type }}" horizontal layout center center-justified>
		<paper-shadow z="1"></paper-shadow>
		{{ message.body | raw }}
	</div>
{% endblock %}