{# src/Hvz/GameBundle/Resources/views/Admin/edit_mission.html.twig #}
{% extends 'HvzGameBundle::base.html.twig' %}

{% block pre_container %}
	{{ render(controller('HvzGameBundle:Component:navbar', { active: 'admin' })) }}
{% endblock %}

{% block container %}
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Admin Panel</h1>
		</div>
	</div>

	<div class="row">
		{% include 'HvzGameBundle:Component:admin_nav.html.twig' with {'active': 'missions'} %}

		<div class="col-md-10">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					{{ form(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}