{# src/Hvz/GameBundle/Resources/views/Admin/message.html.twig #}
{% extends 'HvzGameBundle::base.html.twig' %}

{% block pre_container %}
	{{ render(controller('HvzGameBundle:Component:navbar', { active: 'admin' })) }}
{% endblock %}

{% block container %}
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Message</h1>
		</div>
	</div>

	<div class="row">
		{% include 'HvzGameBundle:Component:admin_nav.html.twig' with {'active': ''} %}

		<div class="col-md-10">
			<div class="alert alert-{{ message.type }}">
				{{ message.body | raw }}
			</div>
		</div>
	</div>
{% endblock %}