{# src/Hvz/GameBundle/Resources/views/Game/tags.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block content %}
	{{ parent() }}

	{% for tag in tags if tag.zombie != null %}
		<div class="card">
			<paper-shadow z="1"></paper-shadow>
			<div class="card-internal" vertical layout center center-justified>
				<p><strong>{{ tag.victim }}</strong> was tagged by <strong>{{ tag.zombie }}</strong> on <em>{{ tag.time }}</em></p>
			</div>
		</div>
	{% endfor %}
{% endblock %}
